body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color: hsl(0, 0%, 95%);
    font-weight: 400;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    border-radius: 6px;
    border: 1px solid black;

}

.one {
    background-color: hsl(31, 77%, 52%);
}

.two {
    background-color: hsl(179, 100%, 13%);
}

.three  {
    background-color: hsl(184, 100%, 22%);
}

.change {
    height: 400px;
    padding: 2vh;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
}

h1 {
    color: hsl(0, 0%, 95%);
}


img {
    margin-top: 40px;
}

button {
    background-color: hsl(0, 0%, 95%);
    margin-top: 13vh;
    padding: 1.3vh 3vh;
    border-radius: 20px;
}

.attribution {
    font-size: 15px;
    font-weight: 400;
}

@media (max-width: 400px) {

    p {
        width: 250px;
        font-weight: 700;
        font-size: 1.2rem;
    }
    .change {
        height: 370px;
    }
    h1, p, img, button {
        margin-left: 20px;
    }
    button {
        margin-top: 25px;
    }
    .attribution {
        font-size: 15px;
        font-weight: 700;
    }
}
